h1 {
  text-align: center;
}

button {
  cursor: pointer;
}

.user {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  transform: scale(1.4);
}

.inp-styling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px 15px;
  margin-bottom: 8px;
  border-radius: 5px;
  font-size: 16px;
}

.user #user-button {
  border-radius: 8px;
}

.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #e60000;
}
